.searchbox-main{
    margin-top: 1%;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
}
.searchbox {
    border-radius: 10px 10px 10px 10px; /* Rounded corners for the search box */
    padding: 10px;
    margin-right: 1%;
  }
  
  .searchbtn {
    border-radius: 10px 10px 10px 10px; /* Rounded corners for the search button */
    cursor: pointer;
  }
    .searchbtn:hover {
        background-color: #151619;
        color: whitesmoke;
      }