.Overview-main{
    color: whitesmoke;
    display: grid;
    grid-template-rows: 5rem 1fr 1fr 2fr 5rem;
    width: 100%;
    height: 100%;
    /* background-color: beige; */
}
.Overview-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 1/2;
    font-size: 6vh;
    color: whitesmoke;
}

.Overview-row-2{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1rem 2fr 5rem  1rem ;
}

.UserName{
    color: whitesmoke;
    grid-column: 2/3;
    font-size: 3vh;
}

.OvervierDate{
    color: whitesmoke;
    margin-right: 2%;
    grid-column: 5/6;
    font-size: 3vh;
}
.Overvew-row-4{
    grid-row: 4/5;
}

.Overvew-row-3{
    grid-row: 3/4;
}

/* Overview Cards Styling */

.Appoinment-stat {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 20px;
    color: #F5FEFF;
    border-color: rgb(0, 0, 0);
    border: "1px";
    padding: 10px 15px;
    width: 250px;
    border-width: 2px;
    background-color: #575c89;
  
  }
  .Stat-cointainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 1px;
    margin-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}
  
  .stat-img {
    /* mix-blend-mode: multiply; */
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    background-color:transparent;
  }
  


  .searchbox-main{
    margin-top: 1%;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
}
.searchbox {
    border-radius: 10px 10px 10px 10px; /* Rounded corners for the search box */
    padding: 10px;
    margin-right: 1%;
  }
  
  .searchbtn {
    border-radius: 10px 10px 10px 10px; /* Rounded corners for the search button */
    cursor: pointer;
  }
    .searchbtn:hover {
        background-color: #151619;
        color: whitesmoke;
      }